*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* header */

header{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.row-header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.col-header{
    display: flex;
    align-items: center;
}

.logo{
    cursor: pointer;
}

.list-header{
    display: flex;
    list-style-type: none;
}

.padding-15px{
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.button-blue{
    color: white;
    background-color: rgba(0,97,255,255);
    cursor: pointer;
    border-style: none;
    padding: 5px 15px;
}

/* jumbotron */

.background-jumbo{
    background-color: rgba(180,208,231,255);
    height: 700px;
}

.container-jumbo{
    width: 65%;
    margin: 0 auto;
}

.row-jumbo{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.col-h1{
    padding-top: 120px;
}

h1{
    font-size: 60px;
    font-weight: bolder;
}

.col-30{
    width: 30%;
}

.padding-top-20px{
    padding-top: 20px;
}

.col-70{
    width: 70%;
}

.col-70 img{
    height: 415px;
    width: 100%;
}

.fa-arrow-down{
    padding-top: 50px;
    font-size: 50px;
}

/* main */

.container-main{
    width: 55%;
    margin: 0 auto;
}

h2{
    padding-top: 100px;
    font-size: 30px;
    font-weight: 600;
}

.margin-right-40px{
    margin-right: 40px;
}

/* 4 box */

.row-box{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.border{
    border: 1px solid rgba(208,208,211,255);
}

.col-sm{
    width: 30%;
}

.head-box{
    text-align: center;
    padding: 5px;
}

.content-box{
    padding: 20px;
}

.list-box{
    list-style-type: none;
}

.hr-box{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 30px;
    color: rgba(208,208,211,255);
}

.grey{
    color: grey;
}

.flex{
    display: flex;
    padding: 5px 0px;
}

.padding-left-10px{
    padding-left: 10px;
    font-size: 13px;
}

.text-align{
    text-align: center;
}

.width-100{
    width: 100%;
}

a{
    color: blue;
}

.col-lg{
    width: 100%;
}

.flex-btw{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.padding-top-40px{
    padding-top: 40px;
}