*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

/* header */

header{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.row-header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.col-header{
    display: flex;
    align-items: center;
}

.logo{
    cursor: pointer;
}

.list-header{
    display: flex;
    list-style-type: none;
}

.padding-15px{
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.button-blue{
    color: white;
    background-color: rgba(0,97,255,255);
    cursor: pointer;
    border-style: none;
    padding: 5px 15px;
    transition-duration: 0.4s;
}

.button-blue:hover{
    background-color: rgb(83, 173, 221);
}

.dropdown {
    position: relative;
    display: inline-block;
    transition-duration: 0.4s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 15px 18px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    background-color: #ccc;
}

/* jumbotron */

.background-blue{
    background-color: rgba(180,208,231,255);
}

.container-jumbo{
    width: 65%;
    margin: 0 auto;
}

.row-jumbo{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.col-h1{
    padding-top: 120px;
}

h1{
    font-size: 60px;
    font-weight: bolder;
}

.col-30{
    width: 30%;
}

.padding-top-20px{
    padding-top: 20px;
}

.col-70{
    width: 70%;
}

.col-70 img{
    position: absolute;
    width: 68%;
}

.fa-arrow-down{
    padding: 50px 0px 20px 0px;
    font-size: 50px;
}

.black{
    color: black;
}

/* main */

.container-main{
    width: 55%;
    margin: 0 auto;
}

p{
    font-size: 14px;
}

/* section 1 */

section{
    padding-top: 100px;
}

h2{
    font-size: 30px;
    font-weight: 600;
}

.margin-right-40px{
    margin-right: 40px;
}

.row-section1{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.border{
    border: 1px solid rgba(208,208,211,255);
}

.col-sm{
    width: 30%;
}

.head-box{
    text-align: center;
    padding: 5px;
}

.content-box{
    padding: 20px;
}

.list-box{
    list-style-type: none;
}

.hr-box{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 30px;
    color: rgba(208,208,211,255);
}

.grey{
    color: grey;
}

.flex{
    display: flex;
    padding: 5px 0px;
}

.padding-left-10px{
    padding-left: 10px;
    font-size: 13px;
}

.text-align{
    text-align: center;
}

.width-100{
    width: 100%;
}

a{
    color: blue;
}

.col-lg{
    width: 100%;
}

.flex-btw{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.padding-top-40px{
    padding-top: 40px;
}

/* section 2 */

.row-section2{
    display: flex;
    gap: 50px;
}

.col-60{
    width: 60%;
}

.col-40{
    width: 40%;
}

.img-section2{
    width: 100%;
}

.button-grey{
    cursor: pointer;
    padding: 5px 15px;
    background-color: white;
    transition-duration: 0.5s;
}

.button-grey:hover{
    background-color: rgb(192, 182, 182);
}

/* section 3 */

.row-section3{
    display: flex;
    justify-content: space-between;
}

.col-30 img{
    width: 100%;
    height: 200px;
}

/* section 5 */

.row-section5{
    display: flex;
}

.col-33{
    width: calc(100% / 3);
    background-color: rgba(245,245,245,255);
}

.row-img{
    display: flex;
    height: 200px;
}

.col-img{
    width: 50%;
    display: flex;
    justify-content: center;
}

.col-designit{
    background-color: rgba(162,211,155,255);
    border: 15px solid rgba(209,233,205,255);
}

.col-arizona{
    background-color: rgba(97,8,43,255);
}

.col-florida{
    background-color: rgba(0,147,206,255);
}

.col-topps{
    background-color: rgba(255,28,28,255);
}

.col-world-bicycle{
    background-color: rgba(213,0,31,255);
}

.col-hearts{
    background-color: rgba(180,208,231,255);
}

.col-lonely{
    background-color: rgba(13,36,129,255);
}

.col-clear{
    background-color: rgba(255,216,48,255);
}

.img-50{
    width: 50%;
    filter: invert(1);
}

.img-30{
    width: 100%;
    height: 100%;
    filter: invert(1);
    object-fit: contain;
    padding: 50px;
}

.content-col{
    padding: 40px;
}

.img-55{
    width: 55%;
}

.hr-width-60px{
    width: 60px;
    color: rgba(208,208,211,255);
}

.row-Dropbox-Business{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}

.red{
    color: rgba(97,8,43,255);
}

.button-white{
    cursor: pointer;
    padding: 8px 40px;
    border-style: none;
    transition-duration: 0.5s;
}

.button-white:hover{
    background-color: rgb(195, 190, 190);
}

/* section 6 */

.row-domande{
    align-items: center;
}

.accordion {
    display: flex;
    justify-content: space-between;
    background-color: white;
    cursor: pointer;
    padding: 30px 0px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.row-domande:active .panel{
    display: block;
}

.row-domande, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 10px 25px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.padding-right{
    padding-right: 30px;
}

span{
    font-weight: bolder;
}

/* footer */

footer{
    margin-top: 100px;
    background-color: black;
    color: white;
}

.row-footer{
    display: flex;
    justify-content: space-between;
}

.list-footer{
    list-style-type: none;
    line-height: 1.8;
    cursor: pointer;
}


.padding-bottom-40px{
    padding-bottom: 40px;
}

.fa-caret-up{
    cursor: pointer;
}

